<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>RW</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homeadmin">Home</a>
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">Users</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>RW </p>
        <table>
            <tr>
                <th>No</th>
                <th>RW</th>
                <th>Nama Ketua</th>
                <th>Alamat</th>
                <th>Kelurahan</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i = 1; %> 
            <% for (const rw of rw_data) { %>
                <tr>
                    <td><%= i %> </td>
                    <td><%= rw.no_rw %></td>
                    <td><%= rw.nama_ketua_rw %></td>
                    <td><%= rw.alamat %></td>
                    <td><%= rw.nama_kel %></td>
                    <td><a href="rw/hapus/<%=rw.id_U %>" >hapus</a> </td>
                </tr>
                <% i +=1; %> 
            <%} %> 
            
        </table>

        <a href="addrw">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>