<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <script src="/script/profile.js" defer></script>
    <script src="/script/pagination.js" defer></script>
    <title>Users</title>
</head>
<body>
    <header class="header">
        <div id="page">
            <button class="pg"><a href="kecamatan">1</a></button>
            <button class="pg active"><a href="kelurahan">2</a></button>
            <button class="pg"><a href="perioda">3</a></button>
            <button class="pg"><a href="produk">4</a></button>
            <button class="pg"><a href="rw">5</a></button>
            <button class="pg"><a href="users">6</a></button>
          </div>
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <div class="profile-pic">
            <label class="labels" for="file">
              <span class=""></span>
              <span>Ganti profile</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="/assets/user.png" id="output" width="200" />
          </div>
    </header>
    <div class="sidenav">
        <a href="homeadmin">Home</a>
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">Users</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>Users </p>
        <table>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>UserName</th>
                <th>Role</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i = 1; %> 
            <% for (const user of users) { %>
                <tr>
                    <%if(user.role_u!=='admin'){%>
                        <td><%= i %> </td>
                        <td><%= user.nama %></td>
                        <td><%= user.username %></td>
                        <td><%= user.role_u %></td>
                        <td><a href="users/hapus/<%=user.id_U %>" >hapus</a> </td>
                        <td><a href="">Edit</a></td>
                        <% i +=1; %> 
                    <%}%>
                </tr>
            <%} %> 
            
        </table>

        <a href="adduser">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>