<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>RW</title>
</head>
<body>
    <header class="header">
        <p>RW</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homerw">Home</a>
        <a href="datart">Data RT</a>
        <a href="statusrt">Status Pesanan RT</a>
    </div>
    <div class="main">
        <br>
        <table>
            <tr>
                <th>No</th>
                <th>RT</th>
                <th>Nama Ketua RT</th>
                <th>Alamat</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i = 1; %> 
            <% for (const rt of datart) { %>
                <tr>
                    <td><%= i %> </td>
                    <td><%= rt.no_rt %></td>
                    <td><%= rt.nama_kepala_rt %></td>
                    <td><%= rt.alamat %></td>
                    <td><a href="rw/hapusdata/<%=rt.id_rt %>" >hapus</a> </td>
                    <td><a href="">Edit</a></td>
                    <% i +=1; %> 
                </tr>
            <%} %> 
            
        </table>

        <a href="addrt">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>