<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>RW</title>
</head>
<body>
    <header class="header">
        <p>RW</p>
        <p><%= namasaya %> </p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homerw">Home</a>
        <a href="datart">Data RT</a>
        <a href="statusrt">Status Pesanan RT</a>
    </div>
    <div class="main">
        <br>
        <form action="/action_page.php" method="get">
            <label for="periods" name="periode" id="">Pilih periode</label>
            <select id="periods">
                <option value="null "> Silahkan pilih ...</option>
                <%for (const per of perioda) {%>
                    <option name="<%=per.id_perioda%>" value="<%=per.nama_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                <%}%>
            </select>
            </form>
            <br>
        <br>
        <table>
            <tr>
                <th>No</th>
                <th>RT</th>
                <th>Nama Ketua RT</th>
                <th>Alamat</th>
                <th>Kecamatan</th>
                <th>Status Pembayaran RT</th>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="">001</a></td>
                <td> <a href="">ahmad</a> </td>
                <td> jalan salak no 1</td>
                <td> <a href="">tanah abang</a> </td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="">002</a></td>
                <td><a href="">budi</a></td>
                <td>jalan bunga mawar</td>
                <td> <a href="">bojong gede</a> </td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">003</a></td>
                <td><a href="">joko</a></td>
                <td>jalan salak no 29</td>
                <td> <a href="">kiluet</a> </td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="">001</a></td>
                <td><a href="">udin</a></td>
                <td>jalan durian no 33</td>
                <td> <a href="">ngamprah</a> </td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="">002</a></td>
                <td><a href="">iman</a></td>
                <td>jalan kijang no 25</td>
                <td> <a href="">bsojong gede</a> </td>
                <td> <a><input type="checkbox"></a></td>
            </tr>

        </table>

        <a href="pembayaranrt">
            <input type="submit" value="Selesai" name='addNewRole'>
        </a>
    </div>
</body>
</html>