<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylewarga.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Warga</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homewarga">Home Warga</a>
        <a href="changepass">Change Password</a>
        <a href="beliminyak">Beli Minyak</a>
    </div>
    <div class="main">
        <p>Beli Minyak Goreng </p>
        <form action="/action_page.php" method="get">
            <label for="periods" name="periode" id="">Pilih periode</label>
            <select id="periods">
                <option value="null "> Silahkan pilih ...</option>
                <%for (const per of perioda) {%>
                    <option name="<%=per.id_perioda%>" value="<%=per.nama_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                <%}%>
            </select>
            </form>
            <br>
            <br>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Produk</th>
                <th>Harga Perliter</th>
                <th>Jumlah</th>
                <th>Total Harga</th>
            </tr>
            <% var i = 1; %> 
            <% for (const minyakgor of minyak) { %>
                <tr>
                    <td><%= i %> </td>
                    <td><%= minyakgor.nama_minyak %></td>
                    <td><%= minyakgor.harga %></td>
                    <td><input type="number" class="inputminyak" name="quantity" min="0" max="5" value="0"></td>
                    <% i +=1; %> 
                </tr>
            <%} %> 
            <tr>
                <td colspan="4" style="text-align: center;">Total Harga</td>
                <td style="text-align:center ;"></td>
            </tr>
        </table>
        <a class="ref" href="pembayaran">
            <input type="submit" value="Selesai" name='check'>
        </a>
    </div>
</body>
</html>