<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylewarga.css">
    <script src="/script/hitung.js" defer></script>
    <script src="/script/profile.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Warga</p>
        <a href="logout"><p>Logout</p></a>
        <div class="profile-pic">
            <label class="labels" for="file">
              <span class=""></span>
              <span>Ganti profile</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="/assets/user.png" id="output" width="200" />
          </div>
    </header>
    <div class="sidenav">
        <a href="homewarga">Home Warga</a>
        <a href="changepass">Change Password</a>
        <a href="beliminyak">Beli Minyak</a>
    </div>
    <div class="main">
        <p>Beli Minyak Goreng </p>
        <form action="beliminyak" method="post">
            <label for="periods" name="periode" id="">Pilih periode</label>
            <select id="periods" name="periodevalue">
                <option value="null "> Silahkan pilih ...</option>
                <%for (const per of perioda) {%>
                    <option value="<%=per.id_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                <%}%>
            </select>
            <br><br>
            <table id="harga" name="tabel">
                <tr>
                    <th>No</th>
                    <th>Nama Produk</th>
                    <th>Harga Perliter</th>
                    <th>Jumlah</th>
                    <th>Total Harga</th>
                </tr>
                <% var i = 1; %> 
                <% for (const minyakgor of minyak) { %>
                    <tr name="data">
                        <td value="1"><%= i %> </td>
                        <td name="<%= minyakgor.nama_minyak %>"><%= minyakgor.nama_minyak %></td>
                        <td><input type="text" class="hargaminyak" name="banyak" value="<%=minyakgor.harga%>" ></input> </td>
                        <td><input type="number" class="inputminyak" name="quantity" min="0" max="5" value="0"></td>
                        <td class="total"  style="text-align:center ;"></td>
                        <% i +=1; %> 
                    </tr>
                <%} %> 
                <tr>
                    <td colspan="3" style="text-align: center;">Total Harga</td>
                    <td style="text-align:center"> <input type="button" value="Hitung"></td>
                    <td id="hasiljumlah" style="text-align:center ;" name="jumlahharga"></td>
                </tr>
            </table>
                
                <br>
            <a class="ref" href="pembayaran">
                <input type="submit" value="Selesai">
            </a>
            
        </form>
            <br>
            <br>
        
            <form action="" method="post">
                <label for="periods1" name="periode" id="">Pilih periode</label>
                <select id="periods1" name="periodevalue">
                    <option value="null "> Silahkan pilih ...</option>
                    <%for (const per of perioda) {%>
                        <option value="<%=per.id_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                    <%}%>
                </select>
                <br>
                <br>
                <label for="minyak" name="periode" id="">Pilih Merek Minyak</label>
                <select id="minyak" name="minyakgor">
                    <option value="null"> Silahkan pilih ...</option>
                    <%for (const minyakgor of minyak) {%>
                        <option value="<%=minyakgor.id_migor %>"><%= minyakgor.nama_minyak %> Rp.<%= minyakgor.harga %></option>
                    <%}%>
                </select>
                <br>
                <label for="liter">Pilih berapa liter</label>
                <input id="liter" type="number" class="inputminyak" name="quantity" min="0" max="5" value="0">
                <a class="ref" href="pembayaran">
                    <input type="submit" value="Selesai">
                </a>
            </form>
    </div>
</body>
</html>