<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>BeliMinyak
    </title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="center">
        <h2>Beli Minyak</h2>
        <form action="formbeli" method="post">
            <label for="periods1" name="periode" id="">Pilih periode</label>
            <select id="periods1" name="periodevalue">
                <option value="null "> Silahkan pilih ...</option>
                <%for (const per of perioda) {%>
                    <option value="<%=per.id_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                <%}%>
            </select>
            <br><br>
            <label for="minyak" name="periode" id="">Pilih Merek Minyak</label><br>
            <select id="minyak" name="minyakgor">
                <option value="null"> Silahkan pilih ...</option>
                <%for (const minyakgor of minyak) {%>
                    <option value="<%=minyakgor.id_migor %>"><%= minyakgor.nama_minyak %> Rp.<%= minyakgor.harga %></option>
                <%}%>
            </select>
            <br><br>
            <label for="liter">Pilih berapa liter</label><br>
            <input id="liter" type="number" class="inputminyak" name="quantity" min="0" max="5" value="0">
            <br><br>
            <a class="ref" href="pembayaran">
                <input type="submit" value="Beli">
            </a>
            <a href="/homewarga"><input type="button" value="Batal"></a><br><br>
        </form>
    </div>
</body>

</html>