<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <script src="/script/profile.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Staf Penjualan</p>
        <a href="logout"><p>Logout</p></a>
        <div class="profile-pic">
            <label class="labels" for="file">
              <span class=""></span>
              <span>Ganti profile</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="/assets/user.png" id="output" width="200" />
          </div>
    </header>
    <div class="sidenav">
        <a href="stafperiodepesanan">Perioda Pemesan</a>
        <a href="stafstatuspembayaran">Status Pembayaran RW</a>
    </div>
    <div class="main">
        <br>
        <form action="/action_page.php" method="get">
            <label for="periods" name="periode" id="">Pilih periode</label>
            <select id="periods">
                <option value="null "> Silahkan pilih ...</option>
                <%for (const per of perioda) {%>
                    <option name="<%=per.id_perioda%>" value="<%=per.nama_perioda %>"> <%=per.nama_perioda%> (<%=per.tanggal_mulai%> s/d <%=per.tanggal_berakhir%>) </option>
                <%}%>
            </select>
            </form>
            <br>
            <table>
                <tr>
                    <th>No</th>
                    <th>RW</th>
                    <th>Nama Ketua</th>
                    <th>Alamat</th>
                    <th>Kelurahan</th>
                    <th colspan="2">Status Pembayaran</th>
                </tr>
                <% var i = 1; %> 
                <% for (const rw of rw_data) { %>
                    <tr>
                        <td><%= i %> </td>
                        <td><%= rw.no_rw %></td>
                        <td><%= rw.nama_ketua_rw %></td>
                        <td><%= rw.alamat %></td>
                        <td><%= rw.nama_kel %></td>
                        <td> <a><input type="checkbox"></a></td>
                    </tr>
                    <% i +=1; %> 
                <%} %> 
                
            </table>
        <a href="pembayaranstaf">
            <input type="submit" value="Selesai" name='check'>
        </a>
    </div>
</body>
</html>